@import "vendor/normalize.css";
@import "vendor/dropzone.css";
/*Bootstrap*/
@import "bootstrap/css/bootstrap.css";
@import "bootstrap/colorpicker/bootstrap-colorpicker.min.css";
@import "base/elements.css";

@import "components/button.css";
@import "components/input.css";
@import "components/border.css";
@import "components/container.css";
@import "components/error.css";
@import "components/header.css";
@import "components/status.css";
@import "components/box.css";
@import "components/color.css";

@import "sites/login.css";

@import "utilities/spacing.css";
@import "utilities/shadow.css";
@import "utilities/color.css";

@media print{

    *{
        color: #3366CC !important;
        background-color: #00a65a !important;
        -webkit-print-color-adjust: exact;
    }
}

