* {
    box-sizing: border-box;
}

html {
    font: 400 1em "Source Sans Pro", sans-serif;
    text-rendering: optimizeLegibility;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 102, 102);
}

a {
    color: rgb(0, 133, 132);
    text-decoration: none;
    border-bottom: 1px dashed rgb(0, 133, 132);
}

a:focus,
a:hover {
    border-bottom: 1px solid rgb(0, 133, 132);
}

body.hold-transition .content-wrapper,
body.hold-transition .right-side,
body.hold-transition .main-footer,
body.hold-transition .main-sidebar,
body.hold-transition .left-side,
body.hold-transition .main-header .navbar,
body.hold-transition .main-header .logo {
    /* Fix for IE */
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}